.section
  .header
    %h2= 'Grades'

  .content
    %table
      %colgroupappl
      %thead
        %tr
          %td= link_to('Student', students_url)
          - @assignments.each do |assignment|
            %td= link_to(assignment.name, assignment)
          %td= 'Total'
      - @students.each do |student|
        %tr
          %td= link_to(student.name, student)
          - student.grades.each do |grade|
            %td= link_to(("%.2f\%" % (grade.grade * 100)), grade)
          %td= "%.2f\%" % (student.grade * 100)