<% @assignment.questions.each do |question| %>
<h3><%=h question.title %></h3>

<blockquote><%=h question.help %></blockquote>

<p>
  <b>Points:</b> <%=h @student.grade(question) %>/<%=h question.points %> <% unless @student.comment(question).blank? %><%=h @student.comment(question) %><% end %>
</p>

<% end %>

<hr />

<p>
  <b>Total Points:</b> <%=h @student.grade(@assignment) %> / <%=h @assignment.total_points %>
</p>
