<% @questions.each do |question| %>
<h3><%=h question.title %></h3>

<blockquote>
  <%=h question.help %>
</blockquote>

<%=h @student.grade(question) %> / <%=h question.points %>

<% end %>

<p>
  <b>Total Points:</b> <%=h (@student.grade(@assignment).to_s + ' / ') rescue nil %><%=h @assignment.total_points %>
</p>
