.section
  .header
    %h1= @student.name
    %h2= @assignment.name

- @assignment.questions.each do |question|
  .section{:class => @student.grade(question) == question.points ? 'full' : 'partial'}
    .header
      %h3=h question.title
      
    .content
      .help=h question.help
  
      %dl
        %dt= 'Points'
        %dd= @student.formatted_grade(question)
  
        %dt= 'Comments'
        %dd= markdown(@student.comment(question))
      

.section
  .content
    %dl
      %dt= 'Total Points'
      %dd= @student.formatted_grade(@assignment)
