<div class="question">
  <%= form.error_messages %>
  
  <% if @student %>
  <table>
    <tr>
    <% (1..@question.points).each do |value| %>
      <td><%= form.label "value_#{value}", value %></td>
    <% end %>
    </tr>
    <tr>
    <% (1..@question.points).each do |value| %>
      <td><%= form.radio_button :value, value %></td>
    <% end %>
    </tr>
  </table>
  
  <p>
    <%= form.label :comment %><br />
    <%= form.text_area :comment, :rows => 5 %>
  </p>
  <% else %>
  <p>
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :points %><br />
    <%= form.select :points, 1..10 %>
  </p>
  <p>
    <%= form.label :help %><br />
    <%= form.text_area :help, :rows => 5 %>
  </p>
  <% end %>
</div>
