.section
  .header
    %h2= link_to(@assignment.name, @assignment)
    %h3=h @question.title
  
  .content
    %dl
      %dt= 'Points'
      %dd=h @question.points
  
      %dt= 'Help'
      %dd=h @question.help

  .footer
    %ul
      %li= link_to('Edit', edit_assignment_question_path(@assignment, @question))
      %li= link_to('Delete', assignment_question_path(@assignment, @question), :confirm => 'Are you sure?', :method => :delete)