<p>
  <b>Title:</b>
  <%=h @question.title %>
</p>

<p>
  <b>Help:</b>
  <%=h @question.help %>
</p>

<p>
  <b>Points:</b>
  <%=h @question.points %>
</p>

<p>
  <b>Assignment:</b>
  <%=h @question.assignment_id %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>