.section
  .header
    %h2= link_to(@student.name, @student)
    %h3= link_to(@assignment.name,  [@student, @assignment])

- @assignment.criteria.each do |criterion|
  .section{:class => @student.grade(criterion) == criterion.points ? 'full' : 'partial'}
    .header
      %h4=h criterion.title
      
    .content
      .help=h criterion.help
  
      %dl
        %dt= 'Points'
        %dd= @student.formatted_grade(criterion)
  
        %dt= 'Comments'
        %dd= markdown(@student.comment(criterion))
      

.section
  .content
    %dl
      %dt= 'Total Points'
      %dd= @student.formatted_grade(@assignment)

