.section
  .header
    %h1= @student.name
    %h2= @assignment.name

- @assignment.criteria.each do |criterion|
  .section{:class => @student.grade(criterion) == criterion.points ? 'full' : 'partial'}
    .header
      %h3=h criterion.title
      
    .content
      .help=h criterion.help
  
      %dl
        %dt= 'Points'
        %dd= @student.formatted_grade(criterion)
  
        %dt= 'Comments'
        %dd= markdown(@student.comment(criterion))
      

.section
  .content
    %dl
      %dt= 'Total Points'
      %dd= @student.formatted_grade(@assignment)
