- form_for([assignment, criterion]) do |form|
  
  .errors= form.error_messages
  
  %dl.form
    %dt= form.label(:title)
    %dd= form.text_field(:title)
    
    %dt= form.label(:worth)
    %dd= form.text_field(:worth)
    
    %dt= form.label(:help)
    %dd= form.text_area(:help, :cols => 80, :rows => 20)

  = form.submit(criterion.new_record? ? 'Create' : 'Update')