.section
  .header
    %h2= link_to(@assignment.name, @assignment)
    %h3= link_to('Criteria', assignment_criteria_path(@assignment))
    %h4=h @criterion.title
  
  .content
    %dl
      %dt= 'Worth'
      %dd=h "#{@criterion.worth} points"
  
      %dt= 'Help'
      %dd= markdown(@criterion.help)

  .footer
    %ul
      %li= link_to('Edit', edit_assignment_criterion_path(@assignment, @criterion))
      %li= link_to('Delete', assignment_criterion_path(@assignment, @criterion), :confirm => 'Are you sure?', :method => :delete)