<h2>Assignments</h2>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%=h assignment.name %></td>
    <td><%= link_to 'Show', assignment %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New assignment', new_assignment_path %>