.section
  .header
    %h2=h @assignment.name
  
  .content
    %dl
      %dt= 'Total Points'
      %dd=h @assignment.worth
      
      %dt= 'Number of Grades'
      %dd= @grade_statistics.count

      %dt= 'Maximum Grade'
      %dd= @grade_statistics.max

      %dt= 'Median Grade'
      %dd= @grade_statistics.median

      %dt= 'Minimum Grade'
      %dd= @grade_statistics.min

      %dt= 'Mean Grade'
      %dd= @grade_statistics.mean

      %dt= 'Grade Standard Deviation'
      %dd= @grade_statistics.stddev
      
  .footer
    %ul
      %li= link_to('Edit', edit_assignment_path(@assignment))
      %li= link_to('Delete', assignment_path(@assignment), :confirm => 'Are you sure?', :method => :delete)
      %li= link_to('Criteria', assignment_criteria_path(@assignment))

.section
  .header
    %h3= 'Student Grades'
  
  .content
    %ul
      - @assignment.grades.each do |grade|
        %li= link_to(grade.student.name, grade.student) + " (#{grade.points} points)"