.section
  .header
    %h2=h @student.name
  
  .content
    %dl
      %dt= "Email:"
      %dd= mail_to(@student.email)
  
  .footer
    %ul
      %li= link_to('Edit', edit_student_path(@student))
      %li= link_to('Delete', student_path(@student), :confirm => 'Are you sure?', :method => :delete)
  
.section
  .header
    %h3= 'Assignments'
  
  .content
    %ul
      - @student.grades.each do |grade|
        %li= link_to(grade.name, grade) + " (#{grade.value} points)"
