.section
  .header
    %h2=h @student.name
  
  .content
    %dl
      %dt= "Email:"
      %dd= mail_to(@student.email)
  
.section
  .header
    %h3= 'Assignments'
  
  .content
    %ul
      - @assignments.each do |assignment|
        %li= link_to(assignment.name, student_assignment_path(@student, assignment)) + " (#{@student.formatted_grade(assignment)} points)"
  
  .footer
    = link_to('Edit', edit_student_path(@student))
    = link_to('Delete', student_path(@student), :confirm => 'Are you sure?', :method => :delete)
