!!! XML
!!! Strict
%html{html_attrs}
  %head
    %meta{ :'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8' }
    %title= 'Grader'
    - #%link{ :href => '/stylesheets/reset.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css' }
    - #= stylesheets
  %body
    #header
      %h1= 'Grader'

    #nav
      %ul
        = nav_link(:students)
        = nav_link(:assignments)

    - for key, value in flash
      .flash{ :id=> key }= value

    #article
      = yield
